.flat-picture {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.flat-picture:hover {
    cursor: pointer;
    opacity: .9;
}

.flat-title {
    padding-top: 10px;
    font-weight: bold;
}